* {
  box-sizing: border-box;
}
:root {
  --primary-color: #f44336;
}
body {
  margin: 0;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}
.guess-game {
  width: 1000px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  .game-area {
    .inputs {
      > div {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 30px;
          font-weight: bold;
          margin-right: 15px;
        }
      }
      .disabled-inputs {
        opacity: 0.5;
        pointer-events: none;
      }
      input {
        margin: 0 5px;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 50px;
        caret-color: var(--primary-color);
        background-color: white;
        border: none;
        border-bottom: 3px solid #333;
        &:focus {
          outline: #ccc;
        }
        &.yes-in-place {
          background-color: #f89e13;
          border: #f89e13;
          color: white;
        }
        &.not-in-place {
          background-color: #18ba89;
          border: #18ba89;
          color: white;
        }
        &.incorrect {
          background-color: #27303f;
          border: #27303f;
          color: white;
        }
      }
    }
  }
  .key-colors {
    .key-color {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      background-color: white;
      margin-bottom: 10px;
      .key {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        &.in-place {
          background-color: #f89e13;
        }
        &.not-in-place {
          background-color: #18ba89;
        }
        &.incorrect {
          background-color: #27303f;
        }
      }
      .key-text {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
