
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #f44336;
  --in-place-color: #f89e13;
  --not-in-place-color: #18ba89;
  --incorrect-color: #27303f;
}
body {
  margin: 0;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}
.guess-game {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  user-select: none; 
  .game-area {
    .inputs {
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        span {
          font-size: 30px;
          font-weight: bold;
          margin-right: 15px;
        }
      }

      .disabled-inputs {
        opacity: 0.5;
        pointer-events: none;
      }

      input {
        width: 60px;
        height: 60px;
        margin: 0 5px;
        border: none;
        border-bottom: 3px solid #333;
        background: white;
        font-size: 50px;
        text-align: center;
        caret-color: var(--primary-color);
        user-select: none; 
        &:focus {
          outline-color: #ccc;
        }

        &.yes-in-place {
          background-color: var(--in-place-color);
          border-color: var(--in-place-color);
          color: white;
        }

        &.not-in-place {
          background-color: var(--not-in-place-color);
          border-color: var(--not-in-place-color);
          color: white;
        }

        &.incorrect {
          background-color: var(--incorrect-color);
          border-color: var(--incorrect-color);
          color: white;
        }
      }
    }

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      margin: 30px auto;
      gap: 10px;

      .check {
        background-color: var(--primary-color);
        flex: 1;
      }

      .hint {
        background-color: #009688;
        width: fit-content;
      }

      button {
        padding: 15px 20px;
        border: none;
        border-radius: 6px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        user-select: none; 
        &:disabled {
          background-color: #000;
          opacity: 0.4;
          cursor: not-allowed;
        }
      }
    }
  }
  .key-colors {
    .key-color {
      display: flex;
      align-items: center;
      padding: 15px;
      background-color: white;
      margin-bottom: 10px;

      .key {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;

        &.in-place {
          background-color: var(--in-place-color);
        }

        &.not-in-place {
          background-color: var(--not-in-place-color);
        }

        &.incorrect {
          background-color: var(--incorrect-color);
        }
      }

      .key-text {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
.message {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color:#33ed6b;
  margin-top: 50px;

  span {
    display: block;
    font-size: 50px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
  }

  p {
    margin-top: 15px;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}